# Data Cleaning

In [20]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [21]:
df_links = pd.read_csv('/Users/rashidbaset/Code/github/movie-ratings-prediction/data/source/links.csv')
df_movies = pd.read_csv('/Users/rashidbaset/Code/github/movie-ratings-prediction/data/source/movies.csv')
df_ratings = pd.read_csv('/Users/rashidbaset/Code/github/movie-ratings-prediction/data/source/ratings.csv')
df_tags = pd.read_csv('/Users/rashidbaset/Code/github/movie-ratings-prediction/data/source/tags.csv')

In [22]:
df_links.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [23]:
df_movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [24]:
df_ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [25]:
df_tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [26]:
#profile = ProfileReport(df_links, title='Pandas Profiling Report', html={'style':{'full_width':True}})
#profile.to_widgets()
#profile.to_notebook_iframe()

In [27]:
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

## Setting index for merging

In [28]:
df_movies = df_movies.set_index('movieId', 'userId')
df_movies

df_ratings = df_ratings.set_index('movieId', 'userId')
df_ratings

df_tags = df_tags.set_index('movieId', 'userId')
df_tags

         userId               tag   timestamp
movieId
60756         2             funny  1445714994
60756         2   Highly quotable  1445714996
60756         2      will ferrell  1445714992
89774         2      Boxing story  1445715207
89774         2               MMA  1445715200
...         ...               ...         ...
7382        606         for katie  1171234019
7936        606           austere  1173392334
3265        610            gun fu  1493843984
3265        610  heroic bloodshed  1493843978
168248      610  Heroic Bloodshed  1493844270

[3683 rows x 3 columns]

## Merging

In [29]:
df_movie_ratings = pd.merge(df_movies, df_ratings, left_on='movieId', right_index=True)

In [30]:
df_movie = pd.merge(df_movie_ratings, df_tags, left_on=['movieId'], right_index=True)

In [31]:
df_movie.shape

(233213, 8)

In [32]:
df_movie_ratings.shape

(100836, 5)

In [33]:
df_movie_ratings.shape

(100836, 5)

In [34]:
#df_movie_ratings.drop(columns='timestamp', inplace=True)

## Exporting

In [35]:
df_movie_ratings.to_csv('/Users/rashidbaset/Code/github/movie-ratings-prediction/data/source/df_movie_ratings.csv')